.login-page{
  display: flex;
  justify-content: center;

  h2{
      font-weight: 400;
      font-size: 1.4em;
  }
}
.login-form{
  min-width: 350px;
  display: flex;
  flex-direction: column;
}

.login-button{
  align-self: flex-end;
}

.login-input{
  margin-bottom: 10px;
}